<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Installs the following drivers and utilities
 • Papercut
 • Xerox Printer Drivers
 • Husky-BW &amp; Husky-Color</string>
	<key>IFPkgDescriptionTitle</key>
	<string>Papercut-Xerox-HuskyPrint-Combo</string>
</dict>
</plist>
